h3 on product show --> things like new offer and message should have javascript client side things on same page rather than load up a new page for them

h3 find existing templates to copy eg gumtree!
h3 what should offer new and counteroffer new looks like?