p given offers page shows basic details then clicking on product shows all offers 

p idea -> a different price offer for each buyer as well as able to change main price

p do TDD when remaking site, especially make sure devise works this time and user names are saved and rspec won't crash

p because i basically know how tests work now I can put them off till I get basic core functionality of site working

p Dont forget seller can change price

p have exchanges as well as money (or both) e.g. book swapping

p get basic features all working then put tests in

p Future Features: Map Location, How Seller will sell, where transaction, reveal email/phone of seller/buyer on offer acceptance, send email to seller or have onsite mail, item pic, user pic, user reputation --> negative votes not visible but they will detract from score etc

p if user has role admin then show product, offer, user page etc

p Add a graph for each product that displays --> your price. all offers and average price of offers. what similar items price.

h4 Stage 1: Add basic layout and design
h4 Stage 2: Add tests
h4 Stage 3: Add other essentials: admin section, pics, email, user names not email, votes etc
h4 Stage 4: Add MVP design and make Mobile ready
h4 Stage 5: Refactor
h4 Stage 6: Add the graph for each product