.row
	.small-6.large-1.columns
	.small-6.large-10.columns.given_offer
		-@given_offers.each do |offer|
			=offer.product.name
			|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			=offer.seller_price
			|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			=offer.buyer_price
			|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			=offer.seller
			|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			| History
			|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			-if offer.counteroffer
				=link_to "Counteroffer received #{offer.counteroffer.seller_price}", offer.counteroffer
			hr
	.small-12.large-1.columns





