// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.large-centered{
	vertical-align: center;
	text-align: center;
	border: 2.5px black solid;
	border-radius: 15px;
	width:50%
}