// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.small-8 {
	text-align: center;
}


.recto {
	border-radius: 2px;
	border: solid 2px black;
}